<div class="modal fade" id="modal-form-rinci" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="ModalLabel">Tambah Ruangan</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!-- Isi Form -->
				<form id="form-rinci">
					<input type="text" name="api_id_santri" id="api_id_santri" hidden>
					<div class="form-group">
						<label>api_id_program</label>
						<input type="text" class="form-control" name="api_id_program" id="api_id_program">
					</div>
					<div class="form-group">
						<label>api_nama</label>
						<input type="text" class="form-control" name="api_nama" id="api_nama">
					</div>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>


				</form>
			</div>
			<!-- Penutup Form -->
		</div>
		<div class="modal-footer">
			<!-- <button id="summit-tambah" type="submit" class="btn btn-success">Tambah</button> -->
		</div>
	</div>
</div>